In [0]:
# created by @gyhou
# changed by @nov05 on 2019-07-05

In [0]:
import numpy as np
import pandas as pd

# Clean Data

In [0]:
class CleanData:
  def __init__(self, url):
    self.df = pd.read_csv(url)
    # remove CI from columns
    self.CI_cols = [col for col in self.df.columns if 'CI_' in col]
    self.df = self.df.drop(self.df[self.CI_cols],axis=1)
    # replace negative values with NaN
    self.df = self.df.replace([-1,-1111,-1111.1,-2,-2222.2,-2222,-9999,-9989.9],
                              [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,
                               np.nan])
  def dataframe(self):
     return self.df

## LEADINGCAUSESOFDEATH

In [4]:
url = 'https://raw.githubusercontent.com/Nov05/CHSI-Dash/master/data/LEADINGCAUSESOFDEATH.csv'
df_LCOD = CleanData(url).dataframe()
print(df_LCOD.shape)
df_LCOD.head(5)

(3141, 83)

   State_FIPS_Code  County_FIPS_Code  ... F_Hi_Cancer LCD_Time_Span
0              1.0               1.0  ...         NaN     1999-2003
1              1.0               3.0  ...         NaN     2001-2003
2              1.0               5.0  ...         NaN     1999-2003
3              1.0               7.0  ...         NaN     1994-2003
4              1.0               9.0  ...         NaN     1999-2003

[5 rows x 83 columns]

In [5]:
df_LCOD.describe(include='all')

        State_FIPS_Code  County_FIPS_Code  ... F_Hi_Cancer LCD_Time_Span
count       3141.000000       3141.000000  ...  600.000000          3141
unique              NaN               NaN  ...         NaN             3
top                 NaN               NaN  ...         NaN     1994-2003
freq                NaN               NaN  ...         NaN          1617
mean          30.304680        103.716651  ...   21.826667           NaN
std           15.134423        107.999484  ...    5.601093           NaN
min            1.000000          1.000000  ...   10.000000           NaN
25%           18.000000         35.000000  ...   18.000000           NaN
50%           29.000000         79.000000  ...   21.000000           NaN
75%           45.000000        133.000000  ...   25.000000           NaN
max           56.000000        840.000000  ...   50.000000           NaN

[11 rows x 83 columns]

In [6]:
df_LCOD.sample(5)

      State_FIPS_Code  County_FIPS_Code  ... F_Hi_Cancer LCD_Time_Span
445              13.0             123.0  ...         NaN     1994-2003
2816             50.0              25.0  ...         NaN     1999-2003
2037             38.0              99.0  ...         NaN     1994-2003
1675             31.0              47.0  ...        12.0     1994-2003
535              13.0             305.0  ...         NaN     1999-2003

[5 rows x 83 columns]

# Leading causes of death mean % in all states

In [7]:
# create causes of death data
death_data = []
# list of all causes of death
cause_lst = df_LCOD.columns[6:-1]
# list and sort all states
state_col = np.array(df_LCOD.CHSI_State_Name.value_counts().index)
state_col.sort()
# create mean value of all causes in all states
for state in state_col:
  df_state = df_LCOD[df_LCOD['CHSI_State_Name']==state]
  FIPS_Code = df_state.iloc[-1].State_FIPS_Code
  state_abbr = df_state.iloc[-1].CHSI_State_Abbr
  state_lst = [FIPS_Code, state, state_abbr]
  cause_mean = []
  for cause in cause_lst:
    cause_mean.append(df_state[cause].mean())
  state_lst.extend(cause_mean)
  death_data.append(state_lst)

# create dataframe for mean % of causes of death in all states
chsi_cols = ['State_FIPS_Code','State_Name','State_Abbr']
chsi_cols.extend(cause_lst)
df_mean = pd.DataFrame(death_data,columns=chsi_cols)
print(df_mean.shape)
df_mean

(51, 79)

    State_FIPS_Code            State_Name  ... F_Ot_Cancer  F_Hi_Cancer
0               1.0               Alabama  ...   20.000000    30.000000
1               2.0                Alaska  ...   24.090909    20.000000
2               4.0               Arizona  ...   19.916667    22.000000
3               5.0              Arkansas  ...   24.000000          NaN
4               6.0            California  ...   21.488889    22.120000
5               8.0              Colorado  ...   23.000000    20.312500
6               9.0           Connecticut  ...   26.333333    19.200000
7              10.0              Delaware  ...   20.000000    23.000000
8              11.0  District of Columbia  ...   28.000000    19.000000
9              12.0               Florida  ...   22.789474    20.450000
10             13.0               Georgia  ...   27.333333    22.000000
11             15.0                Hawaii  ...   21.500000    28.250000
12             16.0                 Idaho  ...   19.375000    20.166667
13             17.0              Illinois  ...   24.666667    25.533333
14             18.0               Indiana  ...   20.000000    21.800000
15             19.0                  Iowa  ...   24.000000    18.250000
16             20.0                Kansas  ...   20.777778    21.250000
17             21.0              Kentucky  ...   29.000000    29.000000
18             22.0             Louisiana  ...   23.750000    21.666667
19             23.0                 Maine  ...   15.000000          NaN
20             24.0              Maryland  ...   28.500000    24.800000
21             25.0         Massachusetts  ...   27.300000    21.000000
22             26.0              Michigan  ...   24.600000    22.625000
23             27.0             Minnesota  ...   23.583333    21.333333
24             28.0           Mississippi  ...   24.666667          NaN
25             29.0              Missouri  ...   27.500000    19.600000
26             30.0               Montana  ...   27.666667    23.000000
27             31.0              Nebraska  ...   23.000000    21.166667
28             32.0                Nevada  ...   20.500000    25.857143
29             33.0         New Hampshire  ...   27.000000          NaN
30             34.0            New Jersey  ...   23.125000    22.176471
31             35.0            New Mexico  ...   20.636364    22.000000
32             36.0              New York  ...   23.352941    21.333333
33             37.0        North Carolina  ...   19.562500    23.000000
34             38.0          North Dakota  ...   23.375000          NaN
35             39.0                  Ohio  ...   30.500000    25.533333
36             40.0              Oklahoma  ...   19.500000    21.111111
37             41.0                Oregon  ...   23.950000    22.461538
38             42.0          Pennsylvania  ...   22.875000    22.764706
39             44.0          Rhode Island  ...   21.000000    22.000000
40             45.0        South Carolina  ...   23.000000    30.000000
41             46.0          South Dakota  ...   21.777778          NaN
42             47.0             Tennessee  ...   27.500000    24.500000
43             48.0                 Texas  ...   25.272727    20.617647
44             49.0                  Utah  ...   20.000000    19.500000
45             50.0               Vermont  ...         NaN          NaN
46             51.0              Virginia  ...   22.538462    28.222222
47             53.0            Washington  ...   22.950000    24.142857
48             54.0         West Virginia  ...         NaN          NaN
49             55.0             Wisconsin  ...   21.687500    24.750000
50             56.0               Wyoming  ...   25.000000    23.714286

[51 rows x 79 columns]

# Drop complications, birth defects, cancer and heart disease

In [8]:
comp_cols = [col for col in df_mean.columns if '_Comp' in col or 
             '_BirthDef' in col or '_Cancer' in col or '_HeartDis' in col]
df_drop = df_mean.drop(df_mean[comp_cols],axis=1)
df_drop.columns

Index(['State_FIPS_Code', 'State_Name', 'State_Abbr', 'B_Wh_Injury',
       'B_Bl_Injury', 'B_Ot_Injury', 'B_Hi_Injury', 'B_Wh_Homicide',
       'B_Bl_Homicide', 'B_Ot_Homicide', 'B_Hi_Homicide', 'C_Wh_Injury',
       'C_Bl_Injury', 'C_Ot_Injury', 'C_Hi_Injury', 'C_Wh_Homicide',
       'C_Bl_Homicide', 'C_Ot_homicide', 'C_Hi_Homicide', 'C_Wh_Suicide',
       'C_Bl_Suicide', 'C_Ot_Suicide', 'C_Hi_Suicide', 'D_Wh_Injury',
       'D_Bl_Injury', 'D_Ot_Injury', 'D_Hi_Injury', 'D_Wh_Suicide',
       'D_Bl_Suicide', 'D_Ot_Suicide', 'D_Hi_Suicide', 'D_Wh_HIV', 'D_Bl_HIV',
       'D_Ot_HIV', 'D_Hi_HIV', 'D_Wh_Homicide', 'D_Bl_Homicide',
       'D_Ot_Homicide', 'D_Hi_Homicide'],
      dtype='object')

In [9]:
df_drop.head(5)

   State_FIPS_Code  State_Name  ... D_Ot_Homicide  D_Hi_Homicide
0              1.0     Alabama  ...           NaN            NaN
1              2.0      Alaska  ...     12.500000            NaN
2              4.0     Arizona  ...     11.333333      14.666667
3              5.0    Arkansas  ...           NaN            NaN
4              6.0  California  ...     10.500000      11.000000

[5 rows x 39 columns]

# Merge white, black, hispanic, other into 1 column

In [0]:
import bottleneck as bn # calculate mean of list with NaN value

In [11]:
# list of all causes of death
group = df_drop.columns[3:]
# list and sort all states
state_col = np.array(df_drop.State_Name.value_counts().index)
state_col.sort()
age_groups = ['B_','C_','D_']
causes_lst = ['_Injury','_Homicide','_Suicide','_HIV']
# create causes of death data
death_data = []
# create mean value of all causes in all states
for state in state_col:
  df_state = df_drop[df_drop['State_Name']==state]
  FIPS_Code = df_state.iloc[0].State_FIPS_Code
  state_abbr = df_state.iloc[0].State_Abbr
  state_lst = [FIPS_Code, state, state_abbr]
  cause_mean = []
  for age in age_groups:
    for cause in causes_lst:
      cause_pct = []
      i = 0
      for sub in group:
        if age in sub and cause in sub:
          i += 1
          cause_pct.append(df_state.iloc[0][sub])
      if i > 0:
        cause_mean.append(bn.nanmean(cause_pct))
  state_lst.extend(cause_mean)
  death_data.append(state_lst)

# create dataframe for mean % of causes of death in all states
chsi_cols = ['State_FIPS_Code','State_Name','State_Abbr','B_Injury','B_Homicide'
            ,'C_Injury','C_Homicide','C_Suicide','D_Injury','D_Homicide'
            ,'D_Suicide','D_HIV']
df = pd.DataFrame(death_data,columns=chsi_cols)
print(df.shape)
df

(51, 12)

    State_FIPS_Code            State_Name  ...  D_Suicide      D_HIV
0               1.0               Alabama  ...  13.629630  13.500000
1               2.0                Alaska  ...  16.979021        NaN
2               4.0               Arizona  ...  12.660256  10.000000
3               5.0              Arkansas  ...  13.541667  16.333333
4               6.0            California  ...  12.766667  17.944444
5               8.0              Colorado  ...  17.494774  20.000000
6               9.0           Connecticut  ...  11.166667  16.833333
7              10.0              Delaware  ...  12.000000  15.333333
8              11.0  District of Columbia  ...        NaN  19.000000
9              12.0               Florida  ...  12.599322  22.949612
10             13.0               Georgia  ...  13.631579  13.152582
11             15.0                Hawaii  ...  12.333333        NaN
12             16.0                 Idaho  ...  15.000000        NaN
13             17.0              Illinois  ...  12.621469  18.000000
14             18.0               Indiana  ...  14.827957  13.000000
15             19.0                  Iowa  ...  15.129032  11.000000
16             20.0                Kansas  ...  12.625000  11.000000
17             21.0              Kentucky  ...  13.716667  14.500000
18             22.0             Louisiana  ...  15.505376  14.950000
19             23.0                 Maine  ...  13.818182        NaN
20             24.0              Maryland  ...  12.153846  13.500000
21             25.0         Massachusetts  ...  11.875000  13.133333
22             26.0              Michigan  ...  14.555556  13.000000
23             27.0             Minnesota  ...  15.000000        NaN
24             28.0           Mississippi  ...  13.941176  15.937500
25             29.0              Missouri  ...  13.810345  18.000000
26             30.0               Montana  ...  15.009259        NaN
27             31.0              Nebraska  ...  15.851852  10.000000
28             32.0                Nevada  ...  14.102564        NaN
29             33.0         New Hampshire  ...  13.900000        NaN
30             34.0            New Jersey  ...  11.125000  15.076923
31             35.0            New Mexico  ...  16.016934        NaN
32             36.0              New York  ...  11.945652  16.505952
33             37.0        North Carolina  ...  13.223077  17.437500
34             38.0          North Dakota  ...  14.200000        NaN
35             39.0                  Ohio  ...  12.504065  13.500000
36             40.0              Oklahoma  ...  12.993056  10.000000
37             41.0                Oregon  ...  15.517857  19.000000
38             42.0          Pennsylvania  ...  12.730000  17.303571
39             44.0          Rhode Island  ...  11.000000  18.000000
40             45.0        South Carolina  ...  12.576923  14.900000
41             46.0          South Dakota  ...  14.444444        NaN
42             47.0             Tennessee  ...  13.739583  14.500000
43             48.0                 Texas  ...  15.335434  12.588768
44             49.0                  Utah  ...  15.315789        NaN
45             50.0               Vermont  ...  14.076923        NaN
46             51.0              Virginia  ...  14.312500  14.333333
47             53.0            Washington  ...  13.252976  10.750000
48             54.0         West Virginia  ...  13.555556  18.500000
49             55.0             Wisconsin  ...  12.508772  11.000000
50             56.0               Wyoming  ...  20.705882        NaN

[51 rows x 12 columns]

# Graph

In [12]:
!pip install geopandas==0.3.0 
!pip install pyshp==1.2.10 
!pip install shapely==1.6.3

Collecting geopandas==0.3.0
  Downloading https://files.pythonhosted.org/packages/0a/0e/8ae74743ed7915ddb7d70cc8dfa8fc0b9b9cc81205c6e288a01915a46192/geopandas-0.3.0-py2.py3-none-any.whl (888kB)
     |████████████████████████████████| 890kB 2.9MB/s
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas==0.3.0) (1.6.4.post2)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from geopandas==0.3.0) (0.24.2)
Collecting fiona (from geopandas==0.3.0)
  Downloading https://files.pythonhosted.org/packages/89/4a/193cd6a75e51062c85f4e1cd6f312b3bbda6e26ba7510f152ef5016f0b16/Fiona-1.8.6-cp36-cp36m-manylinux1_x86_64.whl (17.9MB)
     |████████████████████████████████| 17.9MB 36.2MB/s
Collecting pyproj (from geopandas==0.3.0)
  Downloading https://files.pythonhosted.org/packages/16/59/43869adef45ce4f1cf7d5c3aef1ea5d65d449050abdda5de7a2465c5729d/pyproj-2.2.1-cp36-cp36m-manylinux1_x86_64.whl (11.2MB)
     |████████████████████████████████| 11.2MB 39.9MB/s
Requirement already satisfied: descartes in /usr/local/lib/python3.6/dist-packages (from geopandas==0.3.0) (1.1.0)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas->geopandas==0.3.0) (1.16.4)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->geopandas==0.3.0) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->geopandas==0.3.0) (2.5.3)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas==0.3.0) (19.1.0)
Collecting munch (from fiona->geopandas==0.3.0)
  Downloading https://files.pythonhosted.org/packages/68/f4/260ec98ea840757a0da09e0ed8135333d59b8dfebe9752a365b04857660a/munch-2.3.2.tar.gz
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas==0.3.0) (7.0)
Collecting click-plugins>=1.0 (from fiona->geopandas==0.3.0)
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas==0.3.0) (1.12.0)
Collecting cligj>=0.5 (from fiona->geopandas==0.3.0)
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from descartes->geopandas==0.3.0) (3.0.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->descartes->geopandas==0.3.0) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->descartes->geopandas==0.3.0) (2.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->descartes->geopandas==0.3.0) (1.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->descartes->geopandas==0.3.0) (41.0.1)
Building wheels for collected packages: munch
  Building wheel for munch (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/db/bf/bc/06a3e1bfe0ab27d2e720ceb3cff3159398d92644c0cec2c125
Successfully built munch
Installing collected packages: munch, click-plugins, cligj, fiona, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.6 geopandas-0.3.0 munch-2.3.2 pyproj-2.2.1
Collecting pyshp==1.2.10
  Downloading https://files.pythonhosted.org/packages/c2/cc/1851049f2740d09c7bd8e4b464b1b78638723f6173e71d44aea12deca1f8/pyshp-1.2.10.tar.gz (176kB)
     |████████████████████████████████| 184kB 2.8MB/s
Building wheels for collected packages: pyshp
  Building wheel for pyshp (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/ba/1a/67/6a12977f362c33a15edc753daf92c6f01879dbf4db76faf0dd
Successfully built pyshp
Installing collected packages: pyshp
Successfully installed pyshp-1.2.10
Collecting shapely==1.6.3
  Downloading https://files.pythonhosted.org/packages/70/89/15016679ee1a327a798aacb3b9de709bfdeef679c10fc3e786202256049c/Shapely-1.6.3-cp36-cp36m-manylinux1_x86_64.whl (1.5MB)
     |████████████████████████████████| 1.5MB 2.8MB/s
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: shapely
  Found existing installation: Shapely 1.6.4.post2
    Uninstalling Shapely-1.6.4.post2:
      Successfully uninstalled Shapely-1.6.4.post2
Successfully installed shapely-1.6.3

In [0]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as ff
from plotly.offline import init_notebook_mode, iplot

In [14]:
import plotly
plotly.__version__

'3.6.1'

In [0]:
# if credentials file is set, then no need to call configure_plotly_browser_state()
# set init_notebook_mode(connected=True)
# user 'ghou2008', thanksfor your api key
plotly.tools.set_credentials_file(username='ghou2008', api_key='WJHxQInZbzfHsGuycKl9')

In [16]:
# # define this function for plotly and plotly express displaying
# def configure_plotly_browser_state():
#   import IPython
#   display(IPython.core.display.HTML('''
#         <script src="/static/components/requirejs/require.js"></script>
#         <script>
#           requirejs.config({
#             paths: {
#               base: '/static/base',
# //// both would work, enjoy plotly and plotly express in colab
# //               plotly: 'https://cdn.plot.ly/plotly-1.5.1.min.js?noext',
#               plotly: 'https://cdn.plot.ly/plotly-latest.min.js?noext',
#             },
#           });
#         </script>
#         '''))
init_notebook_mode(connected=True)

In [0]:
## didn't use any dash in this notebook
# !pip install dash==1.0.0  # The core dash backend
# !pip install dash-daq==0.1.0  # DAQ components (newly open-sourced!)

https://plot.ly/python/reference/#choropleth  
https://plot.ly/python/reference/#layout-updatemenus-active  
https://plot.ly/python/dropdowns/  
https://plot.ly/python/hover-text-and-formatting/

# Choropleth Map (with 1 Dropdown)

In [18]:
for col in df.columns:
    df[col] = df[col].astype(str)

scl = [
    [0.0, 'rgb(242,240,247)'],
    [0.2, 'rgb(218,218,235)'],
    [0.4, 'rgb(188,189,220)'],
    [0.6, 'rgb(158,154,200)'],
    [0.8, 'rgb(117,107,177)'],
    [1.0, 'rgb(84,39,143)']
]

data = []

df['B_Injury text'] = df['State_Name'] + '<br>' + \
  'B_Injury' + ': ' + df['B_Injury'].astype(float).round(2).astype(str) +'%'
df['B_Homicide text'] = df['State_Name'] + '<br>' + \
  'B_Homicide' + ': ' + df['B_Homicide'].astype(float).round(2).astype(str) +'%'

df['C_Injury text'] = df['State_Name'] + '<br>' + \
  'C_Injury' + ': ' + df['C_Injury'].astype(float).round(2).astype(str) +'%'
df['C_Homicide text'] = df['State_Name'] + '<br>' + \
  'C_Homicide' + ': ' + df['C_Homicide'].astype(float).round(2).astype(str) +'%'
df['C_Suicide text'] = df['State_Name'] + '<br>' + \
  'C_Suicide' + ': ' + df['C_Suicide'].astype(float).round(2).astype(str) +'%'

df['D_Injury text'] = df['State_Name'] + '<br>' + \
  'D_Injury' + ': ' + df['D_Injury'].astype(float).round(2).astype(str) +'%'
df['D_Homicide text'] = df['State_Name'] + '<br>' + \
  'D_Homicide' + ': ' + df['D_Homicide'].astype(float).round(2).astype(str) +'%'
df['D_Suicide text'] = df['State_Name'] + '<br>' + \
  'D_Suicide' + ': ' + df['D_Suicide'].astype(float).round(2).astype(str) +'%'
df['D_HIV text'] = df['State_Name'] + '<br>' + \
  'D_HIV' + ': ' + df['D_HIV'].astype(float).round(2).astype(str) +'%'

# colorbar propertiess
colorbarx = 0.9
colorbarlen = 0.5
colorbarthickness = 10 # default 30
colorbaroutlinewidth = 0 # 0 to 1
# map title
title = '2003 Leading Cause of Death in USA'
titley = 0.95
# hover text (replace auto text)
hovertemplate = '<b>%{text}</b>'

trc1 = dict(type='choropleth',autocolorscale = False,locations=df['State_Abbr'],
            z=df['B_Injury'].astype(float),locationmode='USA-states',
            hovertemplate=hovertemplate, text=df['B_Injury text'], colorscale = scl,
            colorbar=dict(x=colorbarx, thickness=colorbarthickness, len=colorbarlen, outlinewidth=colorbaroutlinewidth,
                          title = "Percentage"), 
            name='')
trc2 = dict(type='choropleth',autocolorscale = False,locations=df['State_Abbr'],
            z=df['B_Homicide'].astype(float),locationmode='USA-states',
            hovertemplate=hovertemplate, text = df['B_Homicide text'],colorscale = scl,
            colorbar=dict(x=colorbarx, thickness=colorbarthickness, len=colorbarlen, outlinewidth=colorbaroutlinewidth,
                          title = "Percentage"), 
            name='')

trc3 = dict(type='choropleth',autocolorscale = False,locations=df['State_Abbr'],
            z=df['C_Injury'].astype(float),locationmode='USA-states',
            hovertemplate=hovertemplate, text = df['C_Injury text'],colorscale = scl,
            colorbar=dict(x=colorbarx, thickness=colorbarthickness, len=colorbarlen, outlinewidth=colorbaroutlinewidth,
                          title = "Percentage"), 
            name='')
trc4 = dict(type='choropleth',autocolorscale = False,locations=df['State_Abbr'],
            z=df['C_Homicide'].astype(float),locationmode='USA-states',
            hovertemplate=hovertemplate, text = df['C_Homicide text'],colorscale = scl,
            colorbar=dict(x=colorbarx, thickness=colorbarthickness, len=colorbarlen, outlinewidth=colorbaroutlinewidth,
                          title = "Percentage"),
            name='')
trc5 = dict(type='choropleth',autocolorscale = False,locations=df['State_Abbr'],
            z=df['C_Suicide'].astype(float),locationmode='USA-states',
            hovertemplate=hovertemplate, text = df['C_Suicide text'],colorscale = scl,
            colorbar=dict(x=colorbarx, thickness=colorbarthickness, len=colorbarlen, outlinewidth=colorbaroutlinewidth,
                          title = "Percentage"),
            name='')

trc6 = dict(type='choropleth',autocolorscale = False,locations=df['State_Abbr'],
            z=df['D_Injury'].astype(float),locationmode='USA-states',
            hovertemplate=hovertemplate, text = df['D_Injury text'],colorscale = scl,
            colorbar=dict(x=colorbarx, thickness=colorbarthickness, len=colorbarlen, outlinewidth=colorbaroutlinewidth,
                          title = "Percentage"),
            name='')
trc7 = dict(type='choropleth',autocolorscale = False,locations=df['State_Abbr'],
            z=df['D_Homicide'].astype(float),locationmode='USA-states',
            hovertemplate=hovertemplate, text = df['D_Homicide text'],colorscale = scl,
            colorbar=dict(x=colorbarx, thickness=colorbarthickness, len=colorbarlen, outlinewidth=colorbaroutlinewidth,
                          title = "Percentage"),
            name='')
trc8 = dict(type='choropleth',autocolorscale = False,locations=df['State_Abbr'],
            z=df['D_Suicide'].astype(float),locationmode='USA-states',
            hovertemplate=hovertemplate, text = df['D_Suicide text'],colorscale = scl,
            colorbar=dict(x=colorbarx, thickness=colorbarthickness, len=colorbarlen, outlinewidth=colorbaroutlinewidth,
                          title = "Percentage"),
            name='')
trc9 = dict(type='choropleth',autocolorscale = False,locations=df['State_Abbr'],
            z=df['D_HIV'].astype(float),locationmode='USA-states',
            hovertemplate=hovertemplate, text = df['D_HIV text'],colorscale = scl,
            colorbar=dict(x=colorbarx, thickness=colorbarthickness, len=colorbarlen, outlinewidth=colorbaroutlinewidth,
                          title = "Percentage"), 
            name='')

data = [trc1,trc2, 
        trc3,trc4,trc5, 
        trc6,trc7,trc8,trc9]

mapnum = 9; args = []
for i in range(mapnum):
  args.append([False]*i + [True] +[False]*(mapnum-i-1))
  
# default activate the last map  
updatemenus = list([
    dict(active=-1,
         buttons=list([   
            dict(label = 'B_Injury',
                 method = 'update',
                 args = [{'visible': args[0]},
                         {'title': title+' (B_Injury)',
                          'annotations': []}]),
            dict(label = 'B_Homicide',
                 method = 'update',
                 args = [{'visible': args[1]},
                         {'title': title+' (B_Homicide)',
                          'annotations': []}]),
             
            dict(label = 'C_Injury',
                 method = 'update',
                 args = [{'visible': args[2]},
                         {'title': title+' (C_Injury)',
                          'annotations': []}]),
            dict(label = 'C_Homicide',
                 method = 'update',
                 args = [{'visible': args[3]},
                         {'title': title+' (C_Homicide)',
                          'annotations': []}]),
            dict(label = 'C_Suicide',
                 method = 'update',
                 args = [{'visible': args[4]},
                         {'title': title+' (C_Suicide)',
                          'annotations': []}]),
             
            dict(label = 'D_Injury',
                 method = 'update',
                 args = [{'visible': args[5]},
                         {'title': title+' (D_Injury)',
                          'annotations': []}]),
            dict(label = 'D_Homicide',
                 method = 'update',
                 args = [{'visible': args[6]},
                         {'title': title+' (D_Homicide)',
                          'annotations': []}]),
            dict(label = 'D_Suicide',
                 method = 'update',
                 args = [{'visible': args[7]},
                         {'showscale': args[7]},
                         {'title': title+' (D_Suicide)',
                          'annotations': []}]),
            dict(label = 'D_HIV',
                 method = 'update',
                 args = [{'visible': args[8]},
                         {'title': title+' (D_HIV)',
                          'annotations': []}]),
        ]),
        x=0.7, xanchor='left', y=titley, yanchor='top',
        showactive=True,
    ),
])

layout = dict(title=go.layout.Title(text="Please select a map", xref='paper', x=0.1, y=titley), 
              width=900, height=600,
              margin=dict(t=0, b=0, r=0, l=0),
              showlegend=False,
              updatemenus=updatemenus,
              geo = dict(scope='usa',
                         projection = dict(type='albers usa'),
                         showlakes = True, 
                         lakecolor = 'rgb(255, 255, 255)'),
             )

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='d3-cloropleth-map-dropdown')

In [19]:
df.sample(2)

   State_FIPS_Code  ...                D_HIV text
43            48.0  ...    Texas<br>D_HIV: 12.59%
5              8.0  ...  Colorado<br>D_HIV: 20.0%

[2 rows x 21 columns]

In [20]:
mapnum = 9; args = []
for i in range(mapnum):
  args.append([False]*i + [True] +[False]*(mapnum-i-1))
print(len(args))
[print([j for j in args[i]]) for i in range(mapnum)]
print()

9
[True, False, False, False, False, False, False, False, False]
[False, True, False, False, False, False, False, False, False]
[False, False, True, False, False, False, False, False, False]
[False, False, False, True, False, False, False, False, False]
[False, False, False, False, True, False, False, False, False]
[False, False, False, False, False, True, False, False, False]
[False, False, False, False, False, False, True, False, False]
[False, False, False, False, False, False, False, True, False]
[False, False, False, False, False, False, False, False, True]

In [21]:
df['B_Injury'].astype(float).round(2).head()

0    44.18
1    37.17
2    39.88
3    51.50
4    33.62
Name: B_Injury, dtype: float64

# Choropleth Map (with 2 Dropdowns)  

### The problem is not how to code for this set of maps, but is the logic to update which map. There is no way to meet the requirement unless updatemenus() allows one dropdown change to update properties for multiple maps at the same time. So forget about it for now. But Dash callback function allows the updating logic.

### The only thing we need to do here is mapping Age Group "B", "C", "D" to age intervals for map titles and dropdown option texts.

In [0]:
def plot_choropleth(age, cod):
  for col in df.columns:
      df[col] = df[col].astype(str)

  scl = [
      [0.0, 'rgb(242,240,247)'],
      [0.2, 'rgb(218,218,235)'],
      [0.4, 'rgb(188,189,220)'],
      [0.6, 'rgb(158,154,200)'],
      [0.8, 'rgb(117,107,177)'],
      [1.0, 'rgb(84,39,143)']
  ]

  data = []
  textb, textc, textd = "Age 1-14: ", "Age 15-24: ", "Age 25-44: "
  B_Injury = age[0]+'_'+cod[0]
  B_Homicide = age[0]+'_'+cod[1]
  C_Injury = age[1]+'_'+cod[0]
  C_Homicide = age[1]+'_'+cod[1]
  C_Suicide = age[1]+'_'+cod[2]
  D_Injury = age[2]+'_'+cod[0]
  D_Homicide = age[2]+'_'+cod[1]
  D_Suicide = age[2]+'_'+cod[2]
  D_HIV = age[2]+'_'+cod[3]
  
  df[B_Injury+' text'] = df['State_Name'] + '<br>' + \
    textb+df[B_Injury].astype(float).round(2).astype(str)+'%'
  df[B_Homicide+' text'] = df['State_Name'] + '<br>' + \
    textb+df[B_Homicide].astype(float).round(2).astype(str) +'%'

  df[C_Injury+' text'] = df['State_Name'] + '<br>' + \
    textc + df[C_Injury].astype(float).round(2).astype(str) +'%'
  df[C_Homicide+' text'] = df['State_Name'] + '<br>' + \
    textc + df[C_Homicide].astype(float).round(2).astype(str) +'%'
  df[C_Suicide+' text'] = df['State_Name'] + '<br>' + \
    textc + df[C_Suicide].astype(float).round(2).astype(str) +'%'

  df[D_Injury+' text'] = df['State_Name'] + '<br>' + \
    textd + df[D_Injury].astype(float).round(2).astype(str) +'%'
  df[D_Homicide+' text'] = df['State_Name'] + '<br>' + \
    textd + df[D_Homicide].astype(float).round(2).astype(str) +'%'
  df[D_Suicide+' text'] = df['State_Name'] + '<br>' + \
    textd + df[D_Suicide].astype(float).round(2).astype(str) +'%'
  df[D_HIV+' text'] = df['State_Name'] + '<br>' + \
    textd + df[D_HIV].astype(float).round(2).astype(str) +'%'

  # colorbar propertiess
  colorbarx = 0.85
  colorbary = 0.4
  colorbarlen = 0.5
  colorbarthickness = 10 # default 30
  colorbaroutlinewidth = 0 # 0 to 1
  # map title
  title = 'Leading Cause of Death in USA 2003'
  titley = 0.91
  # hover text (no display of auto text)
  hovertemplate = '<b>%{text}</b>'

  trc1 = dict(type='choropleth',autocolorscale = False,locations=df['State_Abbr'],
              z=df[B_Injury].astype(float),locationmode='USA-states',
              hovertemplate=hovertemplate, text=df[B_Injury+' text'], colorscale = scl,
              colorbar=dict(x=colorbarx, y=colorbary, thickness=colorbarthickness, len=colorbarlen, outlinewidth=colorbaroutlinewidth,
                            title = "Percentage"), 
              name='')
  trc2 = dict(type='choropleth',autocolorscale = False,locations=df['State_Abbr'],
              z=df[B_Homicide].astype(float),locationmode='USA-states',
              hovertemplate=hovertemplate, text = df[B_Homicide+' text'],colorscale = scl,
              colorbar=dict(x=colorbarx, y=colorbary, thickness=colorbarthickness, len=colorbarlen, outlinewidth=colorbaroutlinewidth,
                            title = "Percentage"), 
              name='')

  trc3 = dict(type='choropleth',autocolorscale = False,locations=df['State_Abbr'],
              z=df[C_Injury].astype(float),locationmode='USA-states',
              hovertemplate=hovertemplate, text = df[C_Injury+' text'],colorscale = scl,
              colorbar=dict(x=colorbarx, y=colorbary, thickness=colorbarthickness, len=colorbarlen, outlinewidth=colorbaroutlinewidth,
                            title = "Percentage"), 
              name='')
  trc4 = dict(type='choropleth',autocolorscale = False,locations=df['State_Abbr'],
              z=df[C_Homicide].astype(float),locationmode='USA-states',
              hovertemplate=hovertemplate, text = df[C_Homicide+' text'],colorscale = scl,
              colorbar=dict(x=colorbarx, y=colorbary, thickness=colorbarthickness, len=colorbarlen, outlinewidth=colorbaroutlinewidth,
                            title = "Percentage"),
              name='')
  trc5 = dict(type='choropleth',autocolorscale = False,locations=df['State_Abbr'],
              z=df[C_Suicide].astype(float),locationmode='USA-states',
              hovertemplate=hovertemplate, text = df[C_Suicide+' text'],colorscale = scl,
              colorbar=dict(x=colorbarx, y=colorbary, thickness=colorbarthickness, len=colorbarlen, outlinewidth=colorbaroutlinewidth,
                            title = "Percentage"),
              name='')

  trc6 = dict(type='choropleth',autocolorscale = False,locations=df['State_Abbr'],
              z=df[D_Injury].astype(float),locationmode='USA-states',
              hovertemplate=hovertemplate, text = df[D_Injury+' text'],colorscale = scl,
              colorbar=dict(x=colorbarx, y=colorbary, thickness=colorbarthickness, len=colorbarlen, outlinewidth=colorbaroutlinewidth,
                            title = "Percentage"),
              name='')
  trc7 = dict(type='choropleth',autocolorscale = False,locations=df['State_Abbr'],
              z=df[D_Homicide].astype(float),locationmode='USA-states',
              hovertemplate=hovertemplate, text = df[D_Homicide+' text'],colorscale = scl,
              colorbar=dict(x=colorbarx, y=colorbary, thickness=colorbarthickness, len=colorbarlen, outlinewidth=colorbaroutlinewidth,
                            title = "Percentage"),
              name='')
  trc8 = dict(type='choropleth',autocolorscale = False,locations=df['State_Abbr'],
              z=df[D_Suicide].astype(float),locationmode='USA-states',
              hovertemplate=hovertemplate, text = df[D_Suicide+' text'],colorscale = scl,
              colorbar=dict(x=colorbarx, y=colorbary, thickness=colorbarthickness, len=colorbarlen, outlinewidth=colorbaroutlinewidth,
                            title = "Percentage"),
              name='')
  trc9 = dict(type='choropleth',autocolorscale = False,locations=df['State_Abbr'],
              z=df[D_HIV].astype(float),locationmode='USA-states',
              hovertemplate=hovertemplate, text = df[D_HIV+' text'],colorscale = scl,
              colorbar=dict(x=colorbarx, y=colorbary, thickness=colorbarthickness, len=colorbarlen, outlinewidth=colorbaroutlinewidth,
                            title = "Percentage"), 
              name='')

  data = [trc1,trc2, 
          trc3,trc4,trc5, 
          trc6,trc7,trc8,trc9]

  mapnum = 9; args = []
  for i in range(mapnum):
    args.append([False]*i + [True] +[False]*(mapnum-i-1))

  # If it is not the right age intervals for Group B, C and D,
  # You can chagne the text here. No need to change other code.
  textb, textc, textd = "Age 1-14", "Age 15-24", "Age 25-44"

  # default activate the last map  
  updatemenus = list([
      dict(active=-1,
           buttons=list([   
              dict(label = textb+' Injury',
                   method = 'update',
                   args = [{'visible': args[0]},
                           {'title': title+' ('+textb+' Injury)',
                            'annotations': []}]),
              dict(label = textb+' Homicide',
                   method = 'update',
                   args = [{'visible': args[1]},
                           {'title': title+' ('+textb+' Homicide)',
                            'annotations': []}]),

              dict(label = textc+' Injury',
                   method = 'update',
                   args = [{'visible': args[2]},
                           {'title': title+' ('+textc+' Injury)',
                            'annotations': []}]),
              dict(label = textc+' Homicide',
                   method = 'update',
                   args = [{'visible': args[3]},
                           {'title': title+' ('+textc+' Homicide)',
                            'annotations': []}]),
              dict(label = textc+' Suicide',
                   method = 'update',
                   args = [{'visible': args[4]},
                           {'title': title+' ('+textc+' Suicide)',
                            'annotations': []}]),

              dict(label = textd+' Injury',
                   method = 'update',
                   args = [{'visible': args[5]},
                           {'title': title+' ('+textd+' Injury)',
                            'annotations': []}]),
              dict(label = textd+' Homicide',
                   method = 'update',
                   args = [{'visible': args[6]},
                           {'title': title+' ('+textb+' Homicide)',
                            'annotations': []}]),
              dict(label = textd+' Suicide',
                   method = 'update',
                   args = [{'visible': args[7]},
                           {'showscale': args[7]},
                           {'title': title+' ('+textd+' Suicide)',
                            'annotations': []}]),
              dict(label = textd+' HIV',
                   method = 'update',
                   args = [{'visible': args[8]},
                           {'title': title+' ('+textc+' HIV)',
                            'annotations': []}]),
          ]),
          x=0.7, xanchor='left', y=titley+0.01, yanchor='top',
          showactive=True,
      ),
  ])

  layout = dict(title=go.layout.Title(text="Please select a map", xref='paper', x=0.1, y=titley), 
                width=900, height=600,
                margin=dict(t=0, b=0, r=0, l=0),
                showlegend=False,
                updatemenus=updatemenus,
                geo = dict(scope='usa',
                           projection = dict(type='albers usa'),
                           showlakes = True, 
                           lakecolor = 'rgb(255, 255, 255)'),
               )

  fig = go.Figure(data=data, layout=layout)
  py.iplot(fig, filename='d3-cloropleth-map-dropdown')

In [0]:
age_group = ['B','C','D']
causes_lst = ['Injury','Homicide','Suicide','HIV']
plot_choropleth(age_group, causes_lst)